.head {
    text-align: center;
    padding: 20px 20px;
    margin: 20px auto;
    width: 300px;
  }

  .codebox{
    background-color:#F0F8FF;
    border: 1px solid black;
    border-radius: 10px;
  }


/* 
  class list toggle */
  /* .headOff{
    border: 3px solid #707070;
    border-radius: 20px;
  }

  .headOn{
    border: 3px solid rgb(255, 0, 153);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px pink inset;
  } */
  
  .btnFormat{
    border-radius: 10px;
  }
  
  .clickBtn {
  
  }
  
  .hoverBtn{
    
  }

  img {
    
      border-radius: 50%;
      max-width: 100%;
      height: auto;
  }