.head {
    text-align: center;
    padding: 20px 20px;
    margin: 20px auto;
    width: 300px;
    height: 150px;
  }

  .headOff{
    border: 3px solid #707070;
    border-radius: 20px;
  }

  .headOn{
    border: 3px solid rgb(255, 0, 153);
    border-radius: 20px;
    box-shadow: 4px 8px 16px 4px rgba(255, 0, 255, 0.616), 14px 16px 30px 14px rgba(255, 0, 255, 0.19);
    text-shadow: 0 0 3px rgba(255, 0, 255, 0.616);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 153);
  }

  .colorbtm1{
    width:225px;
    border-bottom: 
      3px solid rgb(251,46,1);
    align-items: right;
  }
  .colorbtm2{
    position: relative;
    left: 5px;
    width:225px;
    border-bottom: 
      3px solid rgb(111,203,159);
    align-items: right;
  }
  .colorbtm3{
    position: relative;
    left: 10px;
    width:225px;
    border-bottom: 
      3px solid rgb(255,226,138);
    align-items: right;
  }
  .colorbtm4{
    position: relative;
    left: 15px;
    width:225px;
    border-bottom: 
      3px solid rgb(255,254,179);
    align-items: right;
  }
  
  
  .codebox{
    background-color:#F0F8FF;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 10px 50%;
  }

  .btnFormat{
    border-radius: 10px;
    margin: 20px 0px;
  }

  .h1spacing{
    margin-top: 20px;
    text-align: center;
  }

  img {
    
      border-radius: 50%;
      max-width: 100%;
      height: auto;
  }

.center{
  text-align: center;
}

  .bio {
    margin: 10px;
    padding-top: 20px;
    background-color: #F0F8FF;
  }

  .icons{
    padding-top: 10px;
  }

.h3{
  text-align: center;
}